### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [13]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load, encoding="utf-8")

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [14]:
players_count = len(purchase_data["SN"].unique())

total_players = pd.DataFrame({"Total Players": [players_count],})

total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
item_count = len(purchase_data["Item ID"].unique())

average_price = purchase_data["Price"].mean()

purchase_count = purchase_data["Item Name"].count()

total_revenue = purchase_data["Price"].sum()

summary_df = pd.DataFrame({"Number of Unique Items": [item_count],
                           "Average Price": [average_price],
                           "Number of Purchases": [purchase_count],
                           "Total Revenue": [total_revenue]})

summary_df.style.format({"Average Price": "${:.2f}", "Total Revenue": "${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [21]:
count_players_gender = purchase_data["Gender"].value_counts()

percentage_gender = (purchase_data["Gender"].value_counts())/(purchase_data["Gender"].count())*100

gender_demographics_table = pd.DataFrame({"Total Count": count_players_gender,
                                    "Percentage of Players": percentage_gender})

gender_demographics_table.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
grouped_gender_data = purchase_data.groupby(['Gender'])

count_players_gender_grouped = grouped_gender_data["Gender"].count()

average_price_grouped = grouped_gender_data["Price"].mean()

total_price_grouped = grouped_gender_data["Price"].sum()

summary_purchasing_analysis = pd.DataFrame({"Purchase Count": count_players_gender_grouped,
                           "Average Purchase Price": average_price_grouped,
                           "Total Purchase Value": total_price_grouped,
                           "Avg Purchase Total per Person": average_price_grouped})

summary_purchasing_analysis.head()

summary_purchasing_analysis.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Avg Purchase Total per Person": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [24]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age_group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)

group_age_bin_df = purchase_data.groupby(["Age_group"])

count_players_age = group_age_bin_df["SN"].count()

count_age = purchase_data["SN"].count()

percentage_age = (count_players_age/count_age)*100

age_demographics_table = pd.DataFrame({"Total Count": count_players_age,
                                        "Percentage of Players": percentage_age})

age_demographics_table.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age_group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)


grouped_purchase_data = purchase_data.groupby(['Age_group'])

count_purchase = purchase_data["Age_group"].value_counts()

average_purchase_price = grouped_purchase_data["Price"].mean()

total_purchase_price = grouped_purchase_data["Price"].sum()

summary_purchasing_analysis_byage = pd.DataFrame({"Purchase Count": count_purchase,
                           "Average Purchase Price": average_purchase_price,
                           "Total Purchase Value": total_purchase_price,
                           "Avg Purchase Total per Person": average_purchase_price})

summary_purchasing_analysis_byage

summary_purchasing_analysis_byage.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Avg Purchase Total per Person": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [29]:
grouped_user_data = purchase_data.groupby(['SN'])

count_spenders = grouped_user_data["Item ID"].count()

average_spenders_price = grouped_user_data["Price"].mean()

total_spenders_price = grouped_user_data["Price"].sum()

summary_top_spenders = pd.DataFrame({"Purchase Count": count_spenders,
                           "Average Purchase Price": average_spenders_price,
                           "Total Purchase Value": total_spenders_price})

summary_top_spenders = summary_top_spenders.sort_values(by= "Total Purchase Value", ascending=False)

summary_top_spenders.head().style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [301]:
grouped_Item_data = purchase_data.groupby(['Item ID', 'Item Name'])


count_popular = grouped_Item_data["SN"].count()

total_price_item = grouped_Item_data["Price"].sum()

price_item = (total_price_item/count_popular)

summary_popular = pd.DataFrame({"Purchase Count": count_popular,
                           "Item Price": price_item,
                           "Total Purchase Value": total_price_item})

summary_popular = summary_popular.sort_values(by= "Total Purchase Value", ascending=True)
summary_popular.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
42,The Decapitator,1,1.75,1.75
104,Gladiator's Glaive,1,1.93,1.93
23,Crucifer,1,1.99,1.99
126,Exiled Mithril Longsword,1,2.00,2.00
125,Whistling Mithril Warblade,2,1.00,2.00

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [302]:
summary_popular = summary_popular.sort_values(by= "Total Purchase Value", ascending=False)
summary_popular.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80